

@import "compil_sass/_reset";
@import "compil_sass/data";
@import "compil_sass/_titre";
@import "compil_sass/_contain_el";

html{
    scroll-behavior: smooth;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131416;

}



