.title{
    color: blue;
    font-family: 'Salsa', cursive;
    text-align: center;
    font-size: 50px;
}

.presentation{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    color: rgb(3, 126, 120);
    font-size: 20px;
    font-weight: 500;
}